server:
  port: 8082
spring:
  application:
    name: reservation
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  data:
    redis:
      host: redis
      port: 6379
reservation:
  hold:
    ttl-seconds: 900

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /docs

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: never
